.admin__container {
    background-color: $primary;
    width: 100%;
    min-height: calc(100vh - 70px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .filtro__container {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        margin: 10px;
        gap: 10px;
        .filtro-input {
            display: flex;
            flex-direction: column;
            label {
                font-size: 1.8rem;
            }
            input[type=datetime-local] {
                border-bottom: none;
                border: 1px solid $gray;
                padding: 10px;
                border-radius: 5px;
                color: black;
                font-size: 1.5rem;
            }
            &:last-of-type {
                justify-content: end;
            }
            .radio {
                display: flex;
                justify-content: space-between;
                // margin-bottom: 10px;
            }
            .btn-login {
                background-color: $blue;
                border: none;
                color: white;
                border-radius: 10px;
                margin-bottom: 0;
                transition: color .5s ease-in-out;
                &:hover {
                    background-color: darken($color: $blue, $amount: 5);
                }
            }
        }
    }
    > {
        .admin__btn {
            background-color: $blue;
            border: none;
            color: white;
            padding: 10px 0;
            border-radius: 10px;
            font-size: 1.6rem;
            width: 80%;
            align-self: center;
            font-family: 'Montserrat', sans-serif;
            margin-top: 10px;
            &:hover {
                background-color: darken($color: $blue, $amount: 5);
            }
        }
    }
}