.image__delete {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 22px;
    right: 93px;
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
    padding: 0 5px;
    // top: ;
}