.navbar__container {
    background-color: $blue-transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    width: 800px;
    
    .data__container {
        align-self: center;
        p {
            color: white;
        }
        padding: 10px 30px;

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                font-size: 2rem;
                color: white;
                text-decoration: none;
                margin-right: 10px;
            }
        }
    }

    .btn-logout {
        margin: 0;
        border: none;
        background-color: transparent;
        padding: 10px 0;
        border-radius: 10px;
        i {
            margin-right: 5px;
            font-size: 2rem;
            color: white;
        }
        span {
            font-size: 2rem;
            color: white;
        }
    }
}
.navbar__container.navbar__container-admin {
    background-color: $blue;
    position: static;
    width: 100%;
}