.tabla__container {
    display: grid;
    grid-auto-rows: auto;
    overflow-y: scroll;
    min-width: 100%;
    height: 100%;
}
.tabla__header {
    display: grid;
    // grid-template-columns: repeat(14, auto);
    grid-template-columns: 30px 150px 90px 400px 120px 150px 270px 270px repeat(6, 100px);
    border-bottom: 1px solid $gray;
    
    .tabla__header-titulo {
        border-right: 1px solid $gray;
        font-weight: normal;
        text-align: center;
        padding: 5px;
        font-size: 1.5rem;
        &:last-of-type {
            border-right: none;
        }
    }
}
.tabla__row {
    display: grid;
    grid-template-columns: 30px 150px 90px 400px 120px 150px 270px 270px repeat(6, 100px);
    box-sizing: border-box;
    height: 60px;
    >.tabla__row-element {
        min-height: 100%;
        border-bottom: 1px solid $gray;
        border-right: 1px solid $gray;
        &:last-of-type {
            border-right: none;
        }
        > p {
            font-size: 1.5rem;
            text-align: center;
        }
        > select {
            width: 100%;
        }
        &:nth-child(4) {
            text-align: start;
            overflow-y: scroll;
        }
    }
}