.tabla_container {
    margin: 0;
    padding: 0;
    width: 100%;
    // border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;

    > {
        thead {
            width: 100%;
            >  tr > {
                
                th {
                    font-size: 1.5rem;
                    border: 1px solid black;
                    font-weight: normal;
                }
            }
        }
        tbody {
            width: 100%;
            > tr > {
                td {
                    border: 1px solid black;
                    font-size: 1.5rem;
                    text-align: center;
                    height: 10px;
                    // overflow: scroll;
                    overflow: auto;
                    input[type=datetime-local]{
                        font-size: 1.5rem;
                        border: 0;
                        padding: 0;
                    }
                }
                .mensaje {
                    text-align: start;
                    max-width: 100px;
                }
            }
        }
    }
    // thead {
    //     width: 100%;
    // }
    // th {
    //     font-size: 1.5rem;
    //     font-weight: 400;
    //     border: 1px solid $gray;
    //     border-top: none;
    //     background-color: lighten($color: $blue, $amount: 20%);
    //     border: 1px solid black;
    // }
    // td {
    //     font-size: 1.7rem;
    //     text-align: center;
    //     border: 1px solid lighten($color: $gray, $amount: 20%);
    //     border-top: none;
    // }
}
// .tabla_container {
//     .titulos {
//         // padding: 5px;
//         // margin: 0px;

//         margin: 0;
//         padding: 0;

//         display: grid;
//         grid-template-columns: 4% repeat(6, 9%) 15% 17% 10%;
//         grid-template-rows: 1fr;
//         justify-items: center;
//         background-color: lighten($color: $gray, $amount: 20%);
//         li {
//             align-self: center;
//             text-align: start;
//             // margin: 0 5px;
//             width: 100%;
//             height: 100%;
//             border-right: 1px solid black;
//         }

//     }
    
//     .item {
//         padding: 0;
//         margin: 10px;
//         display: grid;
//         grid-template-columns: 2% repeat(2, 10%) repeat(4, 9%) 15% 17% 10%;
//         grid-template-rows: 1fr;
//         justify-items: center;

//         li {
//             font-size: 1.5rem;
//             align-self: center;
//         }
//     }
// }