.ticket__container {
    background-color: $primary;
    border-radius: 25px;
    max-width: 800px;
    margin: 0 auto;
    max-height: 600px;
    overflow-y: auto;
    form {
        margin-top: 74px;
    }

    .input__p {
        margin-bottom: 10px;
    }
    .files {

        display: flex;
        width: 100%;
        justify-content: space-around;

        .file__container {
            display: flex;
            align-items: center;
            background-color: $blue;
            border-radius: 5px;
            label {
                font-size: 1.5rem;
                margin: 0;
                color: white;
                padding: 10px;

                transition: color .5s ease-in-out;
                &:hover {
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: darken($color: $blue, $amount: 5);

                }
            }
            i {
                font-size: 1.5rem;
                color: white;
                margin-right: 10px;
            }
            input[type="file"] {
                border-bottom: none;
                display: none;
            }
        }
    }

    .btn-login {
        background-color: $blue;
        border: none;
        color: white;
        padding: 10px 0;
        border-radius: 10px;

        transition: color .5s ease-in-out;
        &:hover {
            background-color: darken($color: $blue, $amount: 5);
        }
    }

}
.input__container.image {
    img {
        width: 70%;
        margin: 0 auto;
    }
}
.input__container.radio {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
    div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        .radio--title {
            // grid-column-start: 1;
            // grid-column-end: 3;
            text-align: center;
            font-weight: normal;
        }
        label {
            font-size: 1.8rem;
            &:hover {
                cursor: pointer;
            }
            input {
                margin-right: 5px;
            }
        }
    }
}